.backgroundMegatron {
    -fx-background-image: url("imagenes/megatron.png");
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.backgroundBoneCrusher {
    -fx-background-image: url("imagenes/boneCrusher.png");
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}


.backgroundFrenzy {
    -fx-background-image: url("imagenes/frenzy.png");
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}