.background{
  	-fx-background-image:url("imagenes/botonIniciarJuego.png");
	-fx-background-color: transparent;
	-fx-background-size:   cover;                     
    -fx-background-repeat: no-repeat;
}
